<h6>Patient's Conditions</h6>

<div class="table-wrapper">
    <table class="table table-hovered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Verification</th>
                <th scope="col">Code</th>
                <th scope="col">On Set</th>
            </tr>
        </thead>
        <tbody>
            <% conditions.forEach((condition,index)  => {
                
                %>
                <tr>
                    <td>

                        <%= condition.clinicalStatus.coding[0].code %>
                    </td>
                    <td>


                        <%= condition.verificationStatus.coding[0].code %>
                    </td>
                    <td>


                        <%= condition.code.coding[0].code+" : "+condition.code.coding[0].display %>
                    </td>
                    <td>


                        <%= condition.onsetDateTime  %>
                    </td>

                </tr>
                <% }) %>
        </tbody>
    </table>
</div>