<%- include('./partials/header.ejs') %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger">
                <%= message %>
            </p>
            <% } %>
            <h6> Observation Lab Report </h6> 
            <form class="add-lab-report-form" action="" method="post" enctype="json">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Status">Status: </label>
                        <input type="text" class="form-control"  name="Status" id="Status" placeholder="status" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Display">Lab description: </label>
                        <input type="text" class="form-control" name="Display" id="Display" placeholder="code-display" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Code-code">LOINC code:</label>
                        <input type="text" class="form-control" name="Code" id="Code" placeholder="LOINC code" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Subject">Patient reference:</label>
                        <input type="text" class="form-control" name="Subject" id="Subject" placeholder="Patient ref number" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Issued">Value:</label>
                        <input type="text" class="form-control" name="Value" id="Value" placeholder="value " >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Issued">Value System:</label>
                        <input type="url" class="form-control" name="ValueSystem" id="ValueSystem" placeholder="value system url " >
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Issued">Value Code:</label>
                        <input type="text" class="form-control" name="ValueCode" id="ValueCode" placeholder="value code " >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Effective">Effective date or period:</label>
                        <input type="datetime" class="form-control" label= "Effective date" name="Effective" id="Effective" placeholder="YYYY-MM-DDThh:mm:ss.sss+zz:zz ">
                    </div>
                </div>
            
                <button type="submit" class="btn btn-primary float-right">Add Lab</button>
            </form>
               
    </div>
    </div>
    </body>

    </html>